<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title> MOMENT 1 - CV </title>
</head>
<body>

<header>
    <nav>
        <ul class="menu">
            <li class="active-menu"> VISA KURSER </li>
            <li><a href="/addcourse"> LÄGG TILL KURS </a></li>
            <li><a href="/about"> OM </a></li>
        </ul>
    </nav>
</header>

    <h1> Kurslista </h1>

<table>
    <thead>
        <tr>
            <th style="text-align: center;"> Kurskod </th>
            <th> Kursnamn </th>
            <th> Kursplan </th>
            <th> Progression </th>
            <th style="text-align: center;"> Radera kurs </th>
        </tr>
    </thead>
    <tbody>
        <% if (courseList && Array.isArray(courseList)) { %>
        <% courseList.forEach(course => { %>
            <tr>
                <td id="courseCodeText"><%= course.coursecode %></td>
                <td><%= course.coursename %></td>
                <td id="link"><a href="<%= course.syllabus %>"> LÄNK </a></td>
                <td id="progressionText"><%= course.progression %></td>
                <td id="delete-button">
                    <form method="POST" action="/deletecourse">
                        <input type="hidden" name="id" value="<%= course.id %>">
                        <button type="submit"> Radera </button>
                    </form>
                </td>
            </tr>
        <% })} %>
    </tbody>
</table>

</body>
</html>